--title "Homebrew Ruby API"
--load ignore_directives.rb
--markup markdown
--no-private
--output docs
--template-path yard_templates
--main brew/Library/Homebrew/README.md
--exclude brew/Library/Homebrew/test/
--exclude brew/Library/Homebrew/vendor/
--exclude brew/Library/Homebrew/compat/
brew/Library/Homebrew/extend/**/*.rb
brew/Library/Homebrew/**/*.rb
-
brew/*.md
